@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer base {
  * {
  }
  body {
    @apply bg-background;
  }
}

.-z-1 {
  z-index: -1;
}

.origin-0 {
  transform-origin: 0%;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label,
textarea:focus ~ label,
textarea:not(:placeholder-shown) ~ label,
select:focus ~ label,
select:not([value=""]):valid ~ label {
  @apply transform scale-75 -translate-y-3.5 opacity-100;
}
